@import "../styles/variables.scss";

.btn {
  border-radius: 20px;
  width: fit-content;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  &.btn-size--sm {
    padding: 0.6rem 3rem;
  }
  &.btn-size--md {
    padding: 0.8rem 3rem;
  }
  &.btn-size--lg {
    padding: 1rem 3rem;
  }
}

.btn-type--primary {
  background-color: $violet !important;
  border: none;
  .btn__icon {
    display: block;
    color: white !important;
  }
  &:hover .btn__icon {
    display: block;
    color: $violet !important;
  }
  &:hover {
    background-color: $grayDark !important;
    outline: 3px solid $violet;
  }
}
.btn-type--secondary {
  background-color: $grayDark !important;
  border: none;
  outline: 3px solid $violet;
  .btn__icon {
    display: block;
    color: $violet !important;
  }
  &:hover .btn__icon {
    display: block;
    color: white !important;
  }
  &:hover {
    background-color: $violet !important;
    outline: none;
  }
}
.btn-type--tertiary {
  background-color: white !important;
  color: black !important;
  span,
  div {
    color: black !important;
  }
  border: none;
  .btn__icon {
    display: block;
    color: $violet !important;
  }
  &:hover .btn__icon {
    display: block;
    color: white !important;
  }
  &:hover {
    background-color: $grayDark !important;
    color: white !important;
    outline: 3px solid $violet;
  }
}
.btn__icon {
  display: block;
  background-color: inherit;
  i {
    color: inherit;
  }
}
