@import "../styles/variables.scss";

.text-font--primary {
  font-family: $fontSecondary;
}
.text-font--secondary {
  font-family: $fontPrimary;
}

.text-boldness--normal {
  font-weight: normal;
}
.text-boldness--semibold {
  font-weight: 500;
}
.text-boldness--bold {
  font-weight: 700;
}

.h1 {
  font-size: 4.2rem;
  background-color: inherit;
}
.h2 {
  font-size: 3.2rem;
  background-color: inherit;
}
.h3 {
  font-size: 2.125rem;
  background-color: inherit;
}
.h4 {
  font-size: 1.75rem;
  background-color: inherit;
}
.h5 {
  font-size: 1.375rem;
  background-color: inherit;
}
.base {
  font-size: 1rem;
  display: block;
}
.caption {
  font-size: 0.75rem;
  display: block;
}
