// O'zgaruvchilarni shu yerda saqlaymiz (font-family, color, etc)
// boshqa scss fayllarda shu faylni import qilib ishlataveramiz

// Font lar
$fontPrimary: "Work Sans", sans-serif;
$fontSecondary: "Space Mono", sans-serif;

// Ranglar
$violet: #a259ff;
$grayDark: #2b2b2b;
$grayMedium: #3b3b3b;
$gray: #858584;
$black: black;
$white: white;
